.card-group {
  gap: 2px;
}

.card {
  border: none;
  border-radius: unset;
  width: 24rem;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.29);
}

.card-img,
.card-img-top {
  border-radius: unset;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-body {
  font-size: 0.8rem;
}

.card-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

// media queries for responsiveness
@media (max-width: 460px) {
  .card {
    width: 16rem;
  }
}
