@import "variables";

.row {
  margin-top: 1rem;
  --bs-gutter-y: 1.8rem;
}
.home_page {
  margin: 5rem 10rem;

  .container {
    margin-top: 3rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.container-header {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  h2 {
    font-weight: 200;
  }
  .button {
    background-color: $success;
    color: $white;
    border: none;
    --bs-btn-focus-shadow-rgb: none;
  }
  .button:hover {
    color: $secondary;
  }
}

// media queries for responsiveness
@media (min-width: 1900px) {
  .home_page {
    margin: 5rem auto;
    width: 1220px;
  }
}

@media (min-width: 1535px) {
  .container-header {
    max-width: 1190px;
    margin: 8rem auto;
  }
}

@media (max-width: 1132px) {
  .home_page .container {
    display: inline-grid;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .conttainer-header {
    max-width: 1140px;
    margin: 8rem auto;
  }
}

@media (max-width: 768px) {
  .card {
    width: 20rem;
  }
}

@media (max-width: 570px) {
  .container-header {
    display: grid;
    justify-content: center;
  }
  .button {
    width: 8rem;
  }
}
