// Bootstrap theme colors override
$primary: #333333; //black
$darkgrey: darkgrey; //black
$dark: #191919; //black
$secondary: #9e9e9e; //gray
$gray: #f3f3f3; //gray
$success: #3ed48d; //green
$success2: #a8e9c5; //greeen with opacity
$white: #ffffff; //white
$red: #ff0000; //red

// Font overrides
// Overrides tags font-size
$font-size-header: 2rem; //32px
$font-size-title: 1.5rem; //24px
$font-size-base: 0.8rem; //12.8px

$font-weight-bold: 500;
$font-weight-base: 300;
